<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>天下房源 | 杭州瑞烁网络科技股份有限公司</title>
    	<meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
    	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!--公用文件引入-->
		<link href="../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../assets/css/public.css" type="text/css" rel="stylesheet">
		
		<!--My.css引入-->
		<link href="../assets/css/My.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="mask-release" style="display: none;">
			<div class="release-select clearfixs">
				<div class="left">
					<div class="circle"></div>
					发布需求
				</div>
				<div class="right">
					<div class="circle"></div>
					发布房源
				</div>
			</div>
			<div class="release-close"></div>
		</div>
		
		<!--头部栏-->
		<div class="crossband">
			<div class="content">
				<div class="right setting"><img src="../assets/img/nav_set_icon@2x.png"></div>
				<span>我</span>
			</div>
		</div>
		
		<div class="my-head">
			<div class="content clearfix">
				<div class="left head-img">
					<img src="../assets/img/log%20in_user-head@2x.png">
					<i class="log-in_member_icon"></i>
				</div>
				<div class="middel">
					<div class="username">呱呱呱叫</div>
					<div class="changemess">修改资料</div>
				</div>
				<div class="right in-right-icon">
					<i class="log_in_right_icon"></i>
				</div>
			</div>
			<div class="bottom clearfix">
				<div class="left">
					<span class="shoucang">64</span>收藏
				</div>
				<div class="right">
					<span class="jifen">624</span>积分
				</div>
			</div>
		</div>
		
		<div class="label" id="demand-for-release">
			<i class="left content_list_icon01"></i>
			我发布的需求
			<i class="right content_list_right_icon"></i>
		</div>
		
		<div class="label" id="published-listings">
			<i class="left content_list_icon02"></i>
			我发布的房源
			<i class="right content_list_right_icon"></i>
		</div>
		
		<div class="label" id="booking-listings">
			<i class="left content_list_icon05"></i>
			我预约的房源
			<i class="right content_list_right_icon"></i>
		</div>
		
		<div class="label" id="history-transaction">
			<i class="left content_list_icon03"></i>
			历史交易
			<i class="right content_list_right_icon"></i>
		</div>
		
		<div class="label" id="expired-housing">
			<i class="left content_list_icon04"></i>
			过期房源
			<i class="right content_list_right_icon"></i>
		</div>
		
		<div id="bottom-nav-bar" class="bottom-nav-bar">
			<span><i class="bottom_nor_icon04"></i>首页</span>
			<span><i class="bottom_nor_icon03"></i>预约</span>
			<span><i class="bottom_icon05"></i></span>
			<span><i class="bottom_nor_icon02"></i>信息</span>
			<span class="acitve"><i class="bottom_press_icon01"></i>我</span>
		</div>

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../assets/js/public.js"></script>
		<script>
			$('.setting').click(function(){
				location.href = 'setting.html';
			})
			$('.my-head .content').click(function(){
				location.href = 'myPersonalData.html';
			})

			$("#demand-for-release").click(function(){
				location.href = 'myDemandForRelease.html';
			})

			$("#published-listings").click(function(){
				location.href = 'myPublishedListings.html';
			})

			$("#history-transaction").click(function(){
				location.href = 'myHistoryTransaction.html';
			})

			$("#expired-housing").click(function(){
				location.href = 'myExpiredHousing.html';
			})

			$("#booking-listings").click(function(){
				location.href = 'myBookingListings.html';
			})
		</script>
	</body>

</html>
