body{
	padding-bottom: 50px;
}
/*首页*/
.fixed-top-active{
	position: fixed;
	top:0;
	width:100%;
}
.homePage-top{
	position: relative;
	height:310px;
	background-size: 100% auto;
	color:#fff;
}
.homePage-top-active{
	/*height:40px;*/
	background-color:#3c3c3b;
}

.swiper-container{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left: 0px;
}
.swiper-container .swiper-slide{
	height:100%;
}
.swiper-slide img{
	width:100%;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background:#ea5404;
}
.top-bar{
	position:absolute;
	top:-10px;
	z-index: 1000;
	left: 15px;
}
.top-bar .search-city{
	position: relative;
	top:15px;
}

.homePage-top .img-box{
	
}
.homePage-top .img-box li{
	position: absolute;
	display: none;
}
.homePage-top .img-box li:first-child{
	display: block;
}
.homePage-top .img-box img{
	width:100%;
}

.homePage-top .img-play-icon{
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: calc(50% - 10px);
}
.homePage-top .img-play-icon li{
	display: inline-block;
	width:10px;
	height:10px;
	border:2px solid #b4b4b4;
	border-radius: 50%;
	float: left;
	margin-right: 2px;
}
.homePage-top .img-play-icon span{
	display: block;
	margin:2px auto;
	width:6px;
	height:6px;
	border-radius: 50%;
	background-color:#b4b4b4;
}


.homePage-top span{
	font-size: 12px;
}
.homePage-top p{
	font-size: 20px;
}
.homePage-top .search{
	display: block;
	width: 100%;
	margin-top:15px;
	border-radius: 5px;
	height:34px;
	text-align: center;
	background-color: #FFFFFF;
	line-height: 34px;
}
.homePage-top .search-active{
	width:214px;
	height:35px;
	margin-top:-5px;
}
.select-bar{
	border-bottom: 1px solid #CCCCCC;
	background-color: #fff;
	position: relative;
	z-index: 1000000;
}
.select-bar li{
	margin-top:12px;
	display: inline;
	width:21.6%;
	float: left;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	color: #707071;
	font-size: 12px;
	background:url(../img/content_icon02_nor@2x.png) center 16px no-repeat; 
	background-size: 7px;
	padding-bottom:7px;
}
.select-bar .acitve{
	color:#EA5404;
	background:url(../img/content_icon02_press@2x.png) center 16px no-repeat; 
	background-size:7px;
}


.select-bar li:last-child{
	width:11.5%;
	border-right:none;
	background:none;
}


/*回到顶部*/
.right-bar-to-top{
	position:fixed;
	bottom: 90px;
	right:0px;
}
.right-bar-to-top img{
	width: 50%;
}



/*选择面积*/
.select-table{
	position:fixed;
	width: 100%;
	background-color: #f0f0f0;
	z-index: 10000;
}
.select-table li{
	height:44px;
	line-height: 44px;
	text-align: center;
}
.select-table .active{
	background-color: #FFFFFF;
}

.select-table .acreage .select-left{
	text-align: left;
	width:50%;
	float:left;
	max-height: 420px;
}
.select-table .acreage .select-right{
	text-align: left;
	width: 50%;
	float:left;
	overflow-y: auto;
	max-height: 420px;
}
.select-areage li{
	text-indent: 1rem;
	text-align: left;
}

@media only screen and (max-width:320px ) {
	 .homePage-top{
	 	height:274px;
	 }
	 .homePage-top-active{
		height:40px;
	}
}