*{margin:0 auto;padding:0 auto;}
body{width:100%;height:100%;}
.clearfix{overflow: auto;}
.clearfix:before{content:'';}

ul,li{list-style: none;padding:0;}

/*重置input和textarea默认样式*/
input,button,select,textarea{outline:none;padding:0;border: none;}
textarea{resize:none}

p{text-align: center;}

/*
html{
	font-size:62.5%;
}*/
